CalkaSwt/.classpath
CalkaSwt/.project
CalkaSwt/.settings/org.eclipse.core.resources.prefs
CalkaSwt/.settings/org.eclipse.jdt.apt.core.prefs
CalkaSwt/.settings/org.eclipse.jdt.core.prefs
CalkaSwt/.settings/org.eclipse.m2e.core.prefs
CalkaSwt/.sts4-cache/classpath-data.json
CalkaSwt/.vscode/settings.json
CalkaSwt/target/CalkaSwt-1.0-SNAPSHOT-jar-with-dependencies.jar
CalkaSwt/target/CalkaSwt-1.0-SNAPSHOT.jar
CalkaSwt/target/classes/org/blueballoon/calka/App.class
CalkaSwt/target/classes/org/blueballoon/calka/CalkaController.class
CalkaSwt/target/classes/org/blueballoon/calka/calkacore/CalculatorCore.class
CalkaSwt/target/classes/org/blueballoon/calka/calkacore/CalculatorStack.class
CalkaSwt/target/classes/org/blueballoon/calka/calkacore/CalculatorStackItem.class
CalkaSwt/target/classes/org/blueballoon/calka/calkacore/InputLineModel.class
CalkaSwt/target/classes/org/blueballoon/calka/calkaswt/CalkaSwtApp.class
CalkaSwt/target/classes/org/blueballoon/calka/calkaswt/CalkaSwtSelectionAdapter.class
CalkaSwt/target/classes/org/blueballoon/calka/calkaswt/SwtCalculatorButtons.class
CalkaSwt/target/classes/org/blueballoon/calka/calkaswt/SwtInputLineDisplay.class
CalkaSwt/target/classes/org/blueballoon/calka/calkaswt/SwtStackDisplay.class
CalkaSwt/target/classes/org/blueballoon/calka/interfaces/ISinglePublisher.class
CalkaSwt/target/classes/org/blueballoon/calka/interfaces/ISingleSubscriber.class
CalkaSwt/target/classes/org/blueballoon/calka/uiwrapper/UiEvents.class
CalkaSwt/target/maven-archiver/pom.properties
CalkaSwt/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
CalkaSwt/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
CalkaSwt/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
CalkaSwt/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
CalkaSwt/target/surefire-reports/org.blueballoon.calka.AppTest.txt
CalkaSwt/target/surefire-reports/org.blueballoon.calka.calkacore.CalculatorCoreTest.txt
CalkaSwt/target/surefire-reports/org.blueballoon.calka.calkacore.CalculatorStackItemTest.txt
CalkaSwt/target/surefire-reports/org.blueballoon.calka.calkacore.CalculatorStackTest.txt
CalkaSwt/target/surefire-reports/org.blueballoon.calka.calkacore.InputLineModelTest.txt
CalkaSwt/target/surefire-reports/TEST-org.blueballoon.calka.AppTest.xml
CalkaSwt/target/surefire-reports/TEST-org.blueballoon.calka.calkacore.CalculatorCoreTest.xml
CalkaSwt/target/surefire-reports/TEST-org.blueballoon.calka.calkacore.CalculatorStackItemTest.xml
CalkaSwt/target/surefire-reports/TEST-org.blueballoon.calka.calkacore.CalculatorStackTest.xml
CalkaSwt/target/surefire-reports/TEST-org.blueballoon.calka.calkacore.InputLineModelTest.xml
CalkaSwt/target/test-classes/org/blueballoon/calka/AppTest.class
CalkaSwt/target/test-classes/org/blueballoon/calka/calkacore/CalculatorCoreTest.class
CalkaSwt/target/test-classes/org/blueballoon/calka/calkacore/CalculatorStackItemTest.class
CalkaSwt/target/test-classes/org/blueballoon/calka/calkacore/CalculatorStackTest.class
CalkaSwt/target/test-classes/org/blueballoon/calka/calkacore/InputLineModelTest.class
